<div>
	<h2>Formulaire 2</h2>
	<form name="contactForm" novalidate ng-submit="submitForm(contactForm.$valid)" class="simple-form form-horizontal">
		<div ng-include="'views/fields/fullName.html'"></div>
		<div ng-include="'views/fields/tel.html'"></div>
		<div ng-include="'views/fields/mobile.html'"></div>
		<div ng-include="'views/fields/position.html'"></div>
		<div ng-include="'views/fields/email.html'"></div>
		<div>* fields are required</div>
		<button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
	</form>
</div>