<div>
	<h2>Contact</h2>
	<form name="contactForm" novalidate ng-submit="submitForm(contactForm.$valid)" class="simple-form form-horizontal">
		<div class="form-group row">
			<label class="col-xs-3" for="firstName">First Name:*</label>
			<div class="col-xs-3">
				<input class="form-control has-feedback" type="text" id="firstName" ng-pattern="regexp.name" name="firstName" ng-model="formulary.firstName" required/>
				<span ng-show="contactForm.firstName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="contactForm.firstName.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			</div>
			<span  class="col-xs-5 error" ng-show="contactForm.firstName.$error.required">Your first name is required.</span>
			<span  class="col-xs-5 error" ng-show="contactForm.firstName.$error.pattern">Only letters are allowed.</span>
		</div>
		<div class="form-group row">
			<label class="col-xs-3"  for="lastName">Last Name:*</label>
			<div class="col-xs-3">
				<input class="form-control"  type="text" id="lastName" name="lastName" ng-pattern="regexp.name" ng-model="formulary.lastName" required/>
				<span ng-show="contactForm.lastName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="contactForm.lastName.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			</div>
			<span  class="col-xs-5 error" ng-show="contactForm.lastName.$error.required">Your first name is required.</span>
			<span  class="col-xs-5 error" ng-show="contactForm.lastName.$error.pattern">Only letters are allowed.</span>
		</div>
		<div class="form-group row">
			<label class="col-xs-3" for="email">Email:</label>
			<div class="col-xs-3">
				<input class="form-control" type="text" ng-pattern="regexp.email" id="email" name="email" ng-model="formulary.email"/>
				<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="contactForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			</div>
			<span class="col-xs-5 error" ng-show="contactForm.email.$invalid">Email is not valid</span>
		</div>
		<div class="form-group row">
			<label class="col-xs-3" for="tel">Tel:</label>
			<div class="col-xs-3">
				<input class="form-control" type="text" ng-pattern="regexp.tel" id="tel" name="tel" ng-model="formulary.tel"/>
				<span ng-show="contactForm.tel.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="contactForm.tel.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			</div>
			<span class="col-xs-5 error" ng-show="contactForm.tel.$invalid">Tel phone number is not valid</span>
		</div>
		<div class="form-group row">
			<label class="col-xs-3" for="mobile">Mobile:</label>
			<div class="col-xs-3">
				<input class="form-control" type="text" ng-pattern="regexp.mobile" id="mobile" name="mobile" ng-model="formulary.mobile"/>
				<span ng-show="contactForm.mobile.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="contactForm.mobile.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			</div>
			<span class="col-xs-5 error" ng-show="contactForm.mobile.$invalid">Mobile phone number is not valid</span>
		</div>
		<div class="form-group row">
			<label class="col-xs-3" for="message">Message:*</label>
			<div class="col-xs-8">
				<textarea style="resize:none;" class="form-control" required ng-minlength="10" rows="4" cols="50" id="message" name="message" ng-model="formulary.message"></textarea>
				<div class="error" ng-show="contactForm.message.$invalid">Your message should be at least 10 characters long</div>
			</div>
		</div>
		<div>* fields are required</div>
		<button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
	</form>
</div>