<div class="form-group row">
	<label class="col-xs-3" for="firstName">First Name:*</label>
	<div class="col-xs-3">
		<input class="form-control" type="text" id="firstName" ng-pattern="regexp.name" name="firstName" ng-model="formulary.firstName" required/>
		<span ng-show="contactForm.firstName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		<span ng-show="contactForm.firstName.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	</div>
	<span  class="col-xs-5 error" ng-show="contactForm.firstName.$error.required">Your first name is required.</span>
	<span  class="col-xs-5 error" ng-show="contactForm.firstName.$error.pattern">Only letters are allowed.</span>
</div>