<div class="form-group row">
	<label class="col-xs-3"  for="lastName">Last Name:*</label>
	<div class="col-xs-3">
		<input class="form-control"  type="text" id="lastName" name="lastName" ng-pattern="regexp.name" ng-model="formulary.lastName" required/>
		<span ng-show="contactForm.lastName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		<span ng-show="contactForm.lastName.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	</div>
	<span  class="col-xs-5 error" ng-show="contactForm.lastName.$error.required">Your last name is required.</span>
	<span  class="col-xs-5 error" ng-show="contactForm.lastName.$error.pattern">Only letters are allowed.</span>
</div>