<div class="form-group row">
	<label class="col-xs-3" for="mobile">Mobile:</label>
	<div class="col-xs-3">
		<input class="form-control" type="text" ng-pattern="regexp.mobile" id="mobile" name="mobile" ng-model="formulary.mobile" required/>
		<span ng-show="contactForm.mobile.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		<span ng-show="contactForm.mobile.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	</div>
	<span class="col-xs-5 error" ng-show="contactForm.mobile.$error.required">Mobile phone number is required</span>
	<span class="col-xs-5 error" ng-show="contactForm.mobile.$error.pattern">Mobile phone number is not valid</span>
</div>